service cloud.firestore {
  match /databases/{database}/documents {
    match /pools/{pool} {
      function signedIn() {
        return request.auth.uid != null;
      }

      function isOwn() {
        return request.resource.data.userId == request.auth.uid
      }

      allow read:   if signedIn();
      allow create: if signedIn()
                    && isOwn();
      allow update: if signedIn()
                    && isOwn()
                    && resource.data.isPayed == false;
      allow delete: false;
    }
  }
}
